.page-content {
  padding: 8px 24px 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ant-card.pd-0 .ant-card-body {
  flex: 1;
  padding: 0 !important;
}
.ant-card {
  display: flex;
  flex-direction: column;
  border: none;
}
.ant-card .ant-card-head {
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  box-shadow: inset 0px -1px 0px 0px #f0f0f0;
  border: none;
  margin-bottom: 0;
}
.ant-card .ant-card-body {
  flex: 1;
  min-height: 0;
  padding: 16px 24px;
}
.card_table.ant-card .ant-card-body {
  display: flex;
  flex-direction: column;
}
.page-content-footer {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 12px 24px;
  background: #ffffff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 0px rgba(25, 15, 15, 0.07), 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  text-align: right;
  z-index: 1000;
}
.page-content:has(+ .page-content-footer) {
  min-height: calc(100vh - 155px);
}
.ant-form-vertical .ant-col.ant-form-item-label {
  padding-bottom: 4px;
}
.info_form {
  --size-base: 14px;
  --padding-vertical: 8px;
  --line-height: 20px;
  line-height: normal;
}
.info_form.ant-form-small {
  --size-base: 12px;
  --padding-vertical: 6px;
  --line-height: 17px;
}
.info_form .ant-form-item {
  padding: var(--padding-vertical) 0;
  margin: 0;
}
.info_form .ant-form-item .ant-form-item-row {
  flex-wrap: nowrap;
}
.info_form .ant-form-item-control-input {
  min-height: fit-content !important;
  line-height: normal;
}
.info_form .ant-form-item-label {
  line-height: normal;
  flex-shrink: 0;
  font-size: var(--size-base);
}
.info_form .ant-form-item-label label {
  line-height: var(--line-height) !important;
  height: fit-content !important;
  color: rgba(0, 0, 0, 0.45);
  font-size: var(--size-base);
}
.info_form .ant-form-item-control-input-content {
  line-height: var(--line-height) !important;
  white-space: normal;
  /* 保留空白符序列，但是正常换行 */
  word-break: break-all;
  font-size: var(--size-base);
}
.card_table {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
.card_table.ant-card {
  padding: 0 24px 24px;
}
.card_table .ant-card-body {
  padding: 0;
}
.card_table .ant-table-wrapper {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
.card_table .ant-table-wrapper .ant-spin-nested-loading {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
.card_table .ant-table-wrapper .ant-spin-container {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
.card_table .ant-table-wrapper .ant-table {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
.card_table .ant-table-wrapper .ant-table .ant-table-container {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
.card_table .ant-table-wrapper .ant-table .ant-table-container .ant-table-content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: auto !important;
}
.card_table .ant-table-wrapper .ant-table .ant-table-container .ant-table-content .ant-table-thead {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.ant-upload-list .ant-upload-text-icon {
  font-size: 16px;
}
.cancellation {
  background: #e8e9eb;
}
.cancellation .ant-card {
  background: #f0f0f0;
}
.cancellation .ant-table-cell {
  background: #f0f0f0;
}
.cancellation .ant-table-thead .ant-table-cell {
  background: #ebebeb;
}
.cancellation .table-footer {
  background: #e5e9f0;
}
